<connectionStrings>
	<add name="connStr" connectionString="Data Source=(local);User ID=sa;Password=sa;Initial Catalog=Master;Persist Security Info=True;Database=MyTest" />
  <!--jxp-->
  <!--<add name="CarpaDbConn" connectionString="Data Source=192.168.8.149\sql2008r2;User ID=sa;Password=123456;Initial Catalog=Master;Persist Security Info=True"/>-->
  <!--zhongxue-->
  <!--<add name="CarpaDbConn" connectionString="Data Source=192.168.8.116\sql2008;User ID=sa;Password=sa;Initial Catalog=Master;Persist Security Info=True"/>-->
  <!--shexiaohong-->
  <!--<add name="CarpaDbConn" connectionString="Data Source=192.168.8.106\sql2008r2;User ID=sa;Password=123;Initial Catalog=Master;Persist Security Info=True"/>-->
  <!--<add name="CarpaDbConn" connectionString="Data Source=192.168.8.76;User ID=sa;Password=lmy;Initial Catalog=Master;Persist Security Info=True"/>-->
  <!--zhouli-->
<!--  <add name="CarpaDbConn" connectionString="Data Source=192.168.8.108\sql2008r2;User ID=sa;Password=;Initial Catalog=Master;Persist Security Info=True"/>-->
</connectionStrings>